<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>爱混实验室</title>

    <!--http://www.html5rocks.com/en/mobile/mobifying/-->
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1, minimum-scale=1,maximum-scale=1"/>

    <!--https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">

    <!-- force webkit on 360 -->
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <!-- force edge on IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="msapplication-tap-highlight" content="no">

    <!-- force full screen on some browser -->
    <meta name="full-screen" content="yes"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>

    <!-- force screen orientation on some browser -->
    <meta name="screen-orientation" content=""/>
    <meta name="x5-orientation" content="">

    <!--fix fireball/issues/3568 -->
    <!--<meta name="browsermode" content="application">-->
    <meta name="x5-page-mode" content="app">

    <!--<link rel="apple-touch-icon" href=".png" />-->
    <!--<link rel="apple-touch-icon-precomposed" href=".png" />-->

    <link rel="stylesheet" type="text/css" th:href="@{/style-mobile.css}"/>

</head>
<body>
<canvas id="GameCanvas" oncontextmenu="event.preventDefault()" tabindex="0"></canvas>
<div id="splash">
    <div class="progress-bar stripes">
        <span style="width: 0"></span>
    </div>
</div>
<script th:src="@{/src/settings.js}" charset="utf-8"></script>

<script th:src="@{/main.js}" charset="utf-8"></script>

<script th:src="@{http://res.wx.qq.com/open/js/jweixin-1.2.0.js}"></script>

<script th:inline="javascript">
    //调用微信api
    // wx.config({
    //     debug: false,
    //     appId: '[(${config_appId})]',
    //     timestamp: '[(${config_timestamp})]',
    //     nonceStr: '[(${config_nonceStr})]',
    //     signature: '[(${config_signature})]',
    //     jsApiList: [
    //         'onMenuShareAppMessage',
    //         'onMenuShareTimeline',
    //         'hideMenuItems',
    //         'hideOptionMenu'
    //     ] // 必填，需要使用的JS接口列表，
    // });
    //
    // wx.ready(function () {
    //     //分享给朋友
    //     wx.onMenuShareAppMessage({
    //         title: '分享给你一头奶牛，追上它还有奖哦~',
    //         desc: '',
    //         link: 'http://testh5.dan-ye.com', // 分享链接
    //         imgUrl: '[(@{/static/res/raw-assets/sprites/cows/cowsRun/cows01.png})]', // 分享图标
    //         type: 'link',
    //         dataUrl: '',
    //         success: function () {
    //         },
    //         cancel: function () {
    //         }
    //     });
    //     wx.onMenuShareTimeline({
    //         title: '跟我一起摇起来，beats耳机带回家~', // 分享标题
    //         link: 'http://testh5.dan-ye.com', // 分享链接
    //         imgUrl: '[(@{/static/res/raw-assets/sprites/cows/cowsRun/cows01.png})]', // 分享图标
    //         success: function () {
    //         },
    //         cancel: function () {
    //         }
    //     });
    //
    //     wx.hideMenuItems({
    //         menuList: [
    //             'menuItem:share:qq', // 分享到QQ
    //             'menuItem:share:weiboApp', // 分享到Weibo
    //             'menuItem:share:QZone', // 分享到QQ空间
    //             'menuItem:share:facebook', // 分享到FB
    //             'menuItem:share:email', // 邮件
    //             'menuItem:readMode', // 阅读模式
    //             'menuItem:copyUrl' //复制链接
    //         ] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，
    //     });
    // });
    // wx.error(function (res) {
    //     // window.location.href = window.location.href;
    // });
</script>
</body>
</html>
